<!-- START 404 SECTION -->
{% extends "stock/main.html" %}
{% load crispy_forms_tags %}
<!-- {% load static %} -->
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:80vh;">


        <form method="post">
            {% csrf_token %}

            {{ form|crispy}}
            <!-- </table> -->
            <div class="form-group">
                <input type="submit" value="Login" class="btn-primary btn-lg" />
            </div>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <!-- <p><a>Lost password?</a></p> -->
        <!-- </div> -->
    </div>
</div>
{% endblock %}

<!-- END 404 SECTION -->