{% extends 'stock/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lr_form text-center mt-0">
                    <div class="heading_s3 heading_uppercase">
                        <h4>MODIFY ORDER DETAILS</h4>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="form-group">
                            <input type="submit" class="btn-primary btn-lg" value="Modify" />
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}