{% extends "stock/main.html" %}


{% load static %}
{% load crispy_forms_tags %}
<!-- START SECTION BANNER -->

{% block content %}


<script type="text/javascript">
    {% autoescape off %}

    var default_price = `{{ d_price }}`;
    var is_applicable_for_sale = `{{sell_applicable}}`;

    {% endautoescape %}
</script>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lr_form text-center mt-0">
                    <div class="heading_s3 heading_uppercase">
                        <h4>Enter Trade Details</h4>
                    </div>
                    <form method="post">
                        {% csrf_token %}

                        {% crispy form %}


                    </form>

                </div>

            </div>
        </div>
    </div>
</section>
<script src="{%static 'stock/js/stocktrade.js' %}"></script>
{% endblock %}