<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{% block name %} Welcome Home {% endblock %}</title>

  {% load static %}

  <!-- Latest Bootstrap min CSS -->
  <link rel="stylesheet" href="{%static 'stock/bootstrap/css/bootstrap.min.css' %}" />




  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />

  <script src="{%static 'stock/js/jquery-1.12.4.min.js' %}"></script>
  <script src="{%static 'stock/js/jquery-ui.js' %}"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{%static 'stock/bootstrap/js/bootstrap.min.js' %}"></script>

</head>

<body></body>

</html>